@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.logo {
    width: 70%;
    height: auto;
    margin: 10px 0 0 10px;
}

.ui-header {
    border-width: 0;
}

.ui-header .ui-btn {
    top: 10px;
}

.nav1 .ui-grid-a .ui-block-b .ui-navbar .ui-grid-a .ui-block-b a {
    background-color: #fff/*{a-bup-background-color}*/
    ;
    border-color: #42326a/*{a-bup-border}*/
    ;
    color: #1d0a0a/*{a-bup-color}*/
    ;
    text-shadow: 0/*{a-bup-shadow-x}*/
    1px/*{a-bup-shadow-y}*/
    0/*{a-bup-shadow-radius}*/
    #444444/*{a-bup-shadow-color}*/
    ;
    font: normal normal 12.5px/normal 'Poppins';
}

.container-1 h1 {
    text-align: left;
    font: normal bold 32px/normal 'Poppins', sans-serif;
}

.container-1 p {
    text-align: left;
    font: normal normal 18px/normal 'Poppins', sans-serif;
}

.btn-1 {
    border-radius: 20px;
}

.btn-1 a {
    text-decoration: none;
}

.outside {
    display: block;
    width: 100%;
}

.imgbanner {
    width: 100%;
    height: auto;
}

.container-2 {
    background: #795cc1;
}

.container-2 h1 {
    padding: 24px 30px 30px 16px;
    font: normal 550 42px/120% 'Poppins', sans-serif;
    background: #795cc1;
    color: #fff;
}

.container-2 p {
    padding: 0px 16px 30px 16px;
    font: italic 400 20px/120% 'Poppins', sans-serif;
    background: #795cc1;
    color: #fff;
}

.container-3 p {
    font: normal normal 18px/normal 'Poppins', sans-serif;
    padding: 0 0 10px 0;
}

.content-info p {
    font: normal normal 16px/normal 'Poppins', sans-serif;
}

.content-btn {
    left: 65%;
    margin: 20px 0 10px 0;
}

.container-4 {
    padding: 20px 40px 20px 40px;
}

.container-4 h1 {
    font: normal bold 14px/normal 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.container-4 p {
    font: normal lighter 12px/normal 'Poppins', sans-serif;
}

.container-5 {
    text-align: center;
}

.container-6 {
    background: #795cc1;
    margin: 10px 0 0 0;
}

.container-6 h1 {
    padding: 20px 20px 20px 16px;
    font: normal 550 32px/120% 'Poppins', sans-serif;
    color: #fff;
}

.container-6 p {
    padding: 0px 16px 16px 16px;
    font: normal normal 16px/120% 'Poppins', sans-serif;
    color: #fff;
}

hr {
    margin: 20px 0 20px 0;
    height: 1px;
    border: 0.5px solid #9c7ee2;
}

.ui-input-text input,
.ui-input-search input {
    font: normal normal 14px/normal 'Poppins', sans-serif;
}

.img {
    width: 100%;
    height: auto;
}

ul {
    padding: 16px;
}

.container-7 {
    background: #795cc1;
    margin: 0;
}

.container-7 h1 {
    padding: 20px 20px 20px 16px;
    font: normal 550 32px/120% 'Poppins', sans-serif;
    color: #fff;
}

.container-8 {
    padding: 16px 16px 16px 16px;
    font: normal normal 18px/normal 'Poppins', sans-serif;
}

.column {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
    display: block;
}

.container {
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    text-align: left;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 650px) {
    .content-btn {
        left: 90%;
    }
    .logo {
        width: 144px;
        height: auto;
    }
}


/*end of redesign*/