@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.logo{
  width: 70%;
  height: auto;
  margin: 10px 0 0 10px;
}
.ui-header .ui-btn{
  top:10px;
}

.ui-navbar li .ui-btn{
  font: normal normal 12px/normal 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: #fff;
}

}
.container-1 h1{
  text-align: left;
  font: normal bold 32px/normal 'Poppins', sans-serif;
}

.container-1 p {
  text-align: left;
  font: normal normal 18px/normal 'Poppins', sans-serif;
}

.btn-1{
  border-radius: 20px;
}

.btn-1 a{
  text-decoration: none;
}

.outside{
  display: block;
  width: 100%;
}

.imgbanner{
  width: 100%;
  height: auto;
}

.container-2 h1{
  padding: 40px 40px 40px 16px;
  font: normal 800 32px/130% 'Poppins', sans-serif;
}

.container-3 p {
  font: normal normal 18px/normal 'Poppins', sans-serif;
  padding: 0 0 10px 0;
}

.content-info p{
  font: normal normal 16px/normal 'Poppins', sans-serif;

}

.content-btn{
  left: 60%;
  margin: 20px 0 10px 0;
}

.container-4{
  padding: 20px 40px 20px 40px;
}

.container-4 h1{
  font: normal bold 14px/normal 'Poppins', sans-serif;
}

.container-4 p {
  font: normal normal 12px/normal 'Poppins', sans-serif;
}

hr{
  margin: 20px 0 20px 0;
}

.ui-input-text input, .ui-input-search input{
  font: normal normal 14px/normal 'Poppins', sans-serif;
}

/*end of redesign*/
.headerimg {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    margin-bottom: 10px;
    margin-top: 10px;}

.title{font-size: x-large;
        font-style: oblique;
         color: brown;
        text-align: center;}

.img1{display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50%;
        border-radius: 30px;}


 .imgs{display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 10px;}

.imghome{display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            width: 40%;
            height: 40%;
            border-radius: 10px;}



 .caption{text-align: center;
		font-weight: 700;
		font-style: italic;
		font-size: 20px;}

        ul{list-style-type: disc;}
          
    #box1{
       width: auto;
       background-color: #fffdeb;
      border:peachpuff double 10px;
      padding: 50px;
      margin: 50px;
      border-radius: 50px;
    }


    #box2{
        width: auto;
        background-color:#9cc3cd;
       border:peachpuff double 10px;
       padding: 50px;
       margin: 50px;
       border-radius: 50px;
     }
      
     

     #box3{
        width: auto;
        background-color: #d5f5c6;
       border:peachpuff double 10px;
       padding: 50px;
       margin: 50px;
       border-radius: 50px;
     }

    .section {
        border: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        font-family: sans-serif;
      }
      
      .paragraph {
        color: #555;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      
      .content {
        padding: 20px;
      }
      
      .title1 {
        font-size: 24px;
        color: #222;
        line-height: 24px;
      }